.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.slide-up-down{
    animation: slideUpDown 1s ease-in-out infinite;
}

// TODO: move to _variables.scss
.title-text{
    font-size: 1.4rem;
    font-weight: 400; 
}
.animate__delay_900ms{
    animation-delay: 900ms;
}
.animate__delay_800ms{
    animation-delay: 800ms;
}
.animate__delay_700ms{
    animation-delay: 700ms;
}
.animate__delay_600ms{
    animation-delay: 600ms;
}
.animate__delay_500ms{
    animation-delay: 500ms;
}
.animate__delay_400ms{
    animation-delay: 400ms;
}
.animate__delay_300ms{
    animation-delay: 300ms;
}

.animate__delay_200ms{
    animation-delay: 200ms;
}
.animate__delay_100ms{
    animation-delay: 100ms;
}
.gap-130px{
    gap: 130px;
}
.gap-md-130px{
    @media (min-width: 768px) {
        gap: 130px;
    }
}
.gap-lg-130px{
    @media (min-width: 992px) {
        gap: 130px;
    }
}
.text-artrodite-gray{
    color: #525252;
}
.makeItBlack {
    color: black;
}
.bg-artrodite{
    background-color: #F1F1F1;
}

.h-lg-screen{
    @media (min-width: 992px) {
        height: calc(100vh - 100px);
    }
}

.h-70vh{
    height: 70vh;
}

.h-md-70vh{
    @media (min-width: 768px) {
        height: 70vh !important;
    }
}

.h-40vh{
    height: 40vh;
}

.borderY-md-1{
    @media (min-width: 768px) {
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
}
.borderY-lg-1{
    @media (min-width: 992px) {
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
}

.h-screen{
    height: calc(100vh - 100px);
}
.h-md-screen{
    @media (min-width: 768px) {
        height: calc(100vh - 100px);
    }
}

.h-100vh{
    height: 100vh !important;
}

.h-md-100vh{
    @media (min-width: 768px) {
        height: 100vh !important;
    }
}

.text-justify{ 
    text-align: justify;
}

.sticky-top-20{
    position: sticky !important;
    top: 20px;
}

.my-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-md-100{
    @media (min-width: 768px) {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

.my-lg-100{
    @media (min-width: 992px) {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

.mt-100{
    margin-top: 100px;
}

.mt-md-100{
    @media (min-width: 768px) {
        margin-top: 100px !important;
    }
}
.mt-lg-100{
    @media (min-width: 992px) {
        margin-top: 100px !important;
    }
}

.mt-5rem{
    margin-top: 5rem;
}

.mt-md-5rem{
    @media (min-width: 768px) {
        margin-top: 5rem !important;
    }
}

.mb-5rem{
    margin-bottom: 5rem;
}

.mb-md-5rem{
    @media (min-width: 768px) {
        margin-bottom: 5rem !important;
    }
}


.mb-100{
    margin-bottom: 100px;
}

.mb-md-100{
    @media (min-width: 768px) {
        margin-bottom: 100px !important;
    }
}
.mb-lg-100{
    @media (min-width: 992px) {
        margin-bottom: 100px !important;
    }
}

.py-28px{
    padding-top: 28px;
    padding-bottom: 28px;
}

.py-md-28px{
    @media (min-width: 768px) {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }
}

.py-lg-28px{
    @media (min-width: 992px) {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }
}

.py-10rem{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.py-md-10rem{
    @media (min-width: 768px) {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
}

.px-100{
    padding-left: 100px;
    padding-right: 100px;
}

.px-md-100{
    @media (min-width: 768px) {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

.px-lg-100{
    @media (min-width: 992px) {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

.px-32px{
    padding-left: 32px;
    padding-right: 32px;
}

.px-md-32px{
    @media (min-width: 768px) {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}

.px-lg-32px{
    @media (min-width: 992px) {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}